<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :label => "邮箱" ,required: true, autofocus: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :password, :label => "新密码", placeholder: '请输入6-16位新密码', required: true, input_html: { maxlength: 16 } %>
    <%= f.input :password_confirmation, :label => false, placeholder: '确认新密码', error: '请输入相同的新密码', required: true, input_html: { maxlength: 16 } %>
    <%= f.input :current_password, :label => "当前(旧)密码", placeholder: '请输入6-16位旧密码', error: '请输入6-16位旧密码', required: true, input_html: { maxlength: 16 } %>
    </div>
  <div class="form-actions">
    <%= f.submit "提交更改", disable_with: "Submit...", class: "btn btn-xs btn-info" %>
  </div>
<% end %>
<br>
<p><%= link_to "删除我的帐户", registration_path(resource_name), data: { confirm: "你确定吗?" }, method: :delete, :class => "btn btn-xs btn-danger" %></p>
<%= link_to "返回", :back %>
