<div class="col-md-12">
  <div class="pull-right">
   <%= link_to("新增职位", new_job_path, :class => "btn btn-danger" ) %>
</div>

  <table class="table table-boldered table-striped custab " >
    <thead>
        <tr class="btn-danger">
            <td>职位名称</td>
            <td>品牌名称</td>
            <td>薪资情况</td>
            <td>工作地点</td>
            <td>最后更新</td>
            <!-- <td>发布者</td> -->
            <td>管理选项</td>
        </tr>
    </thead>

    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td>
              <%= job.brand %>
            </td>
            <td class="  ">
                <%= job.wage_lower_bound %>k
                ~
                <%= job.wage_upper_bound %>k
            </td>
            <td>
                <span class="fa fa-map-marker"></span>
                <%= job.location %>
            </td>
            <td>
               <%= job.updated_at.strftime("%Y-%m-%d") %>
             </td>
             <!-- <td>
               <%= job.user.email %>
             </td> -->
             <td>
            <% if current_user && current_user == job.user %>
                  <%= link_to("编辑", edit_job_path(job), :class => "btn btn-xs btn-info") %>
                  <%= link_to("删除", job_path(job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
                <% if job.is_hidden %>
                  <%= link_to("公布", publish_job_path(job) , :method => :post, :class => "btn btn-xs btn-success") %>
                <% else %>
                  <%= link_to("隐藏", hide_job_path(job), :method => :post,  :class => "btn btn-xs btn-warning") %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>

    <div class="dropdown clearfix pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          排序
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
            <li>
              <%= link_to("按照薪资最低排序", jobs_path(:order => "by_lower_bound")) %>
            </li>
            <li>
                <%= link_to("按照薪资最高排序", jobs_path(:order => "by_upper_bound")) %>
            </li>
            <li>
              <%= link_to("按照最后更新排序", jobs_path ) %>
            </li>
        </ul>
    </div>
  </table>


</div>
