<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">18K Offer</h1>
      <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
        <br>
        我们希望借由这个网站，能让大家找到且应征上高薪且优质的工作。
        <br>
        凭借自己的努力和天份也会变 Winner
      </p>
      <p class="text-center">
        <%= link_to jobs_path, class: "btn btn-danger btn-lg btn-round btn-raised " do %>
        <%= fa_icon("play", text: "开始") %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">只要你勇敢说出再见</h2>
        <p class="lead">生活一定会赐予你一个新的开始</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'https://yyb.gtimg.com/aiplat/page/product/visionimgidy/img/demo6-16a47e5d31.jpg?max_age=31536000', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">当前后左右都没有路时</h2>
        <p class="lead">命运一定是鼓励你向上飞了 <a target="_blank" href="https://a-liudezhi.github.io/">DZ 的 Blog</a>! 啦啦啦啦啦啦啦</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'https://ae01.alicdn.com/kf/HTB1ze_MeG5s3KVjSZFNq6AD3FXag.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">放弃很容易<br>但.坚持一定很酷</h2>
        <p class="lead">生命不息 奋斗不止<br><a target="_blank" href="https://forum.qzy.camp/">论坛资源</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'http://img.1ppt.com/uploads/allimg/1304/1-130424134245X5.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<!-- 设定首页滚动按钮ID属性 -->
<div class="goTop">
  <a href="#"><span class="fa fa-chevron-up"></span></a>
</div>
<!-- '#'就是页面ID ,可更改-->
