<!DOCTYPE html>
<html>
    <head>
        <title>Job_66.6</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= render_page_title_tag %>
        <%= render_page_description_meta_tag %>
        <%= render_page_keywords_meta_tag %>
    </head>
    <body>
        <div class="container-fluid">
          <div class="row">
            <%= render "common/admin_navbar" %>
            <%= render "common/flashes" %>
              <%= yield %>
            </div>
          </div>
  </body>
</html>
